counter-app/node_modules/
counter-app/public/js

counter-app/target
counter-app/checkouts
counter-app/src/gen

counter-app/pom.xml
counter-app/pom.xml.asc
counter-app/*.iml
counter-app/*.jar
counter-app/*.log
counter-app/.shadow-cljs
counter-app/.idea
counter-app/.lein-*
counter-app/.nrepl-*
counter-app/.DS_Store

counter-app/.hgignore
counter-app/.hg/

.clj-kondo/
.lsp/

counter-app/.clj-kondo/
counter-app/.lsp/
counter-app/.calva/

counter-app/public/app/js
